<ion-header>

  <ion-navbar>
    <ion-title>Competing</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
      <ion-item-sliding no-lines *ngFor="let item of list" >
        <ion-item (click)="openItem(item)" no-lines [ngClass]="{red: item.name == username}">

        
          <ion-avatar item-start>
                        <img *ngIf="item.profilePic != null" [src]="item.profilePic" />
            <ion-icon *ngIf="item.profilePic == null" class="default-img" name="contact"></ion-icon>
          </ion-avatar>
         
          <h1>{{item.username}}
            <button *ngIf="canAddFriend" ion-button icon-only (click)="addToLeaderboard(item)">
              <ion-icon name="add"></ion-icon>
            </button>
          </h1>
          
        </ion-item>
      	
        <ion-item-options *ngIf="showDelete">
          <button ion-button color="danger" (click)="presentConfirm(item)">
            {{ 'Remove' }}
          </button>
        </ion-item-options>
        
      </ion-item-sliding>
    </ion-list>
</ion-content>
