page-exercises {
	#refresh{
		margin-top: 100px;
		background-color: red;
		font-size: 30px;
		color: white;
		border-radius: 10px;
	}

	#reCont{
		text-align: center;
	}

	.item-list{
		padding-left: 0px;
	}

	.item-text{
		padding-left: 16px;
	}
}
