<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="filterExercises()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Exercises</ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<pre>{{exercises | json}}</pre>
<ion-content>
  <ion-list>
    <div id='reCont'>
      <button id="refresh" *ngIf="show" (click)="ionViewDidLoad()">Refresh
      </button>
    </div>
    <ion-item-sliding *ngFor="let exercise of filteredExercises">
      <button ion-item (click)="openItem(exercise)">
        <!--<ion-avatar item-start>
        </ion-avatar>-->

        <h2 >{{exercise.exerciseName}}</h2>
        <p>{{exercise.variation}}</p>
      </button>
        <!-- <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
       -->

      <ion-item-options>
        <button ion-button color="light"(click)="editExercise(exercise)">
          {{ "Edit" }}
        </button>
        <button ion-button color="danger" (click)="presentConfirm(exercise)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
