<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="filterExercises()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Exercises</ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <div id='reCont'>
      <button id="refresh" *ngIf="show" (click)="ionViewDidLoad()">Refresh
      </button>
    </div>
    <ion-item-sliding *ngFor="let item of lifts | keys">
      <button ion-item (click)="openItem(item)">
        <!--<ion-avatar item-start>
        </ion-avatar>-->

        <h2 >{{item.name}}</h2>
        <p>{{item.variation}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="light"(click)="editExercise(item)">
          {{ "Edit" }}
        </button>
        <button ion-button color="danger" (click)="presentConfirm(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
