<ion-header>

  <ion-navbar>

    <ion-title>{{mg.muscleGroupName}}</ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="addExercise()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <gains-chart></gains-chart>
  <ion-list>
    <ion-item-sliding *ngFor="let exercise of exercises" >
      <button ion-item (click)="openItem(exercise)" class="item-list">
        <!--<ion-avatar item-start>
        </ion-avatar>-->

        <h2 class="item-text">{{exercise.exerciseName}}</h2>
        <p class="item-text">{{exercise.variation}}</p>
      </button>
        <!-- <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
       -->

      <ion-item-options>
        <button ion-button color="light"(click)="editExercise(exercise)">
          {{ "Edit" }}
        </button>
        <button ion-button color="danger" (click)="presentConfirm(exercise)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
