page-exercise-detail {

  .item-detail {
    
  }
  .setbet {
  	text-align: center;
  }

  .setbet input {
  	color: black;
  }

  #add {
  	border-radius: 50%;
  	font-size: 30px;
  	font-style: bold;
  	width: 40px;
  }

  .levels {
  	text-align: center;
  }

  .sick {
  	color: red;
  }

  #myProgress {
	  width: 100%;
	  background-color: #ddd;
	  border: 1px solid black;
	}

	#myBar {
		width: 20%;
		background-color: red;
		border: 1px solid black;
		height: 15px;
	}

	.breaker {
	  color: white;
	  border : 1px solid white;
	  margin-bottom : 10px;
	  margin-top: 5px;
	}

	.scrollingtable {
		text-align: center;
	}

	table {
		margin-left:auto; 
	    margin-right:auto;
	    border-collapse: separate;
	}

	.scrollingtable td {
    	width: 200px;
	}

	.remove {
		background-color: red;
	}

	.rectable {
		text-align: center;
	}

	.rectable td {
		color: black;
		width: 150px;
		height: 25px;
	}

	.rectable th td {

	}

	.red {
		background-color: LightCoral;
	}

	.green {
		background-color: LightGreen;
	}

	.bold {
		font-style: bold;
	}

	#oneRM {
		margin-top: 300px;
	}
}
