page-exercise-detail {

  .item-detail {
    
  }

  body {
		cursor: auto;
	}

	.bold {
		font-style: bold;
	}

	#oneRM {
		margin-top: 300px;
	}

	.bold {
		font-style: bold;
	}

	.hide {
	  display: none;
	}

	.axis-title text{
		fill: white;
		font-size: 30px;
	}

	.axis text{
		fill: white;
		font-size: 35px;
	}

	svg {
		width: 100%;
	}

}
