<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons right>
      <button ion-button (click)="changeData()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="changeData()">
    <ion-list>
      <ion-item>
      <ion-label fixed>Weight:</ion-label>
        <ion-input type="text" [(ngModel)]="info.weight" placeholder="195" formControlName="weight"></ion-input>
      </ion-item>
      <ion-item>
      	<ion-label fixed>Height:</ion-label>
        <ion-input type="text" [(ngModel)]="info.height" placeholder="6.1" formControlName="height"></ion-input>
      </ion-item>
      <ion-item>
      	<ion-label fixed>Gym:</ion-label>
        <ion-input type="text" [(ngModel)]="info.gym" placeholder="xSport" formControlName="gym"></ion-input>
      </ion-item>
      <ion-item>
      	<ion-label fixed>Location:</ion-label>
        <ion-input type="text" [(ngModel)]="info.location" placeholder="fairfax"  formControlName="location"></ion-input>
      </ion-item>
    </ion-list>
    <h3 *ngIf="show" id="loading">Loading</h3>
  </form>
  
</ion-content>
