<ion-header>

  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div class="levels">
      <h2>LEVEL <span class="sick"> {{xlevel}}</span> : <span class="sick">{{xcurrent}}</span> / <span class="sick">{{xtotal}}</span> GAINS</h2>
    </div>
    <div id="myProgress">
    <div id="myBar" [ngStyle]="{'width.%' : progress}"></div>
  </div>
  <h1>{{username | uppercase }}</h1>
  <form [formGroup]="form" *ngIf="settingsReady" class="pic">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="show">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="!show"></div>
    </div>
  </form>
  <h3>{{rank | uppercase}}</h3>
  <div class="stats">
    <table>
      <tr>
        <th>{{records}}</th>
        <th>{{gains}}</th>
      </tr>
      <tr>
        <td>Records</td>
        <td>Gains</td>
      </tr>
      <tr>
        <th>25</th>
        <th>20</th>
      </tr>
      <tr>
        <td>Competitors</td>
        <td>Competing</td>
      </tr>
    </table>
  </div>

</ion-content>