<ion-header>

  <ion-navbar>
    <ion-title>{{ username }}</ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <div class="levels">
      <h3>{{rank}} <span class="sick">{{xlevel}}</span> : <span class="sick">{{xcurrent}}</span> / <span class="sick">{{xtotal}}</span> GAINS</h3>
    </div>
    <div id="myProgress">
    <div id="myBar" [ngStyle]="{'width.%' : progress}"></div>
  </div>
  <form [formGroup]="form" *ngIf="settingsReady" class="pic">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="show">
        <!-- <ion-icon *ngIf="friendPicture" class="profile-image icon-size" name="contact"></ion-icon>
        <ion-icon *ngIf="myPicture" name="add"></ion-icon> -->
        <div *ngIf="myPicture" class="profile-image" [style.backgroundImage]="getProfileImageStyle()"></div>
        <ion-icon *ngIf="friendPicture" class="profile-image icon-size" name="contact"></ion-icon>
        <div *ngIf="myPicture">
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <!-- <div*ngIf="!show"> -->
        <!-- <div *ngIf="myPicture" class="profile-image" [style.backgroundImage]="getProfileImageStyle()"></div>
        <ion-icon *ngIf="friendPicture" class="profile-image icon-size" name="contact"></ion-icon> -->
      <!-- </div> -->

    </div>
  </form>
  <div class="stats">
    <table>
      <tr>
        <td>{{height}}ft</td>
        <td>{{gym}}</td>
      </tr>
      <tr>
        <td>{{weight}}lbs</td>
        <td>{{location}}</td>
      </tr>
      <tr *ngIf="buttons">
        <th id="rules"><button on-click="rules()" ion-button type="button" color="primary" block>{{ "Rules" | translate }}</button></th>
        <th id="edit"><button on-click="editProfile()" ion-button type="button" color="primary" block>{{ "Edit Profile" | translate }}</button></th>
      <tr>
        <th on-click="goToCompeting();">{{competing}}</th>
        <th on-click="goToCompetitors();">{{competitors}}</th>
      </tr>
      <tr>
        <td on-click="goToCompeting();">Competing</td>
        <td on-click="goToCompetitors();">Competitors</td>
      </tr>
      <tr>
        <th on-click="goToRecords();">{{exercisesLength}}</th>
        <th on-click="goToGains();">{{gains}}</th>
      </tr>
      <tr>
        <td on-click="goToRecords();">Exercises</td>
        <td on-click="goToGains();">Gains</td>
      </tr>
    </table>
  </div>

</ion-content>