page-profile {
	.profile-image-wrapper {
    text-align: center;
    margin: 0;

    .profile-image {
      width: 96px;
      height: 96px;
      border-radius: 50%;

      display: inline-block;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .profile-image-placeholder {
      display: inline-block;

      background-color: #eee;
      width: 96px;
      height: 96px;
      border-radius: 50%;

      font-size: 12px;

      ion-icon {
        font-size: 44px;
        margin-bottom: -10px;
        margin-top: 10px;
      }

      .icon-size{
        font-size: 6em;
      }
    }
  }

  #myProgress {
    width: 100%;
    background-color: #ddd;
    border: 1px solid black;
  }

  #myBar {
    width: 20%;
    background-color: #9C000A;
    border: 1px solid black;
    height: 15px;
  }

  .levels {
    text-align: center;
  }

  .sick {
    color: #9C000A;
  }

  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .stats {
    text-align: center;
  }

  table {
    margin-left:auto; 
    margin-right:auto;
    border-collapse: separate;
  }

  table th {
    font-size: 35px;
    padding-top: 30px;
  }

  table td {
    font-size: 20px;
    width: 150px;
  }

  #rules {
    padding-right: 20px;
  }

  #edit {
    padding-left: 20px;
  }

  .icon-size{
    font-size: 6em;
  }

  .profileContent {
    background-image: url('../assets/img/dumbell_blur.jpg');
    height: 250px;
  }

  .headerText{
    margin: 0px;
    text-align: center;
    color:white
  }

  .number{
    font-size: 2rem;
  }

}
