<ion-header>
  <ion-navbar>
    <ion-buttons *ngIf="buttons" left>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{ username }}</ion-title>

    <ion-buttons *ngIf="buttons" right>
      <button ion-button icon-only (click)="editProfile()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="profileContent">

    <form [formGroup]="form" *ngIf="settingsReady" class="pic">
      <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
      <div class="profile-image-wrapper" (click)="getPicture()">


        <div class="profile-image-placeholder" *ngIf="show">
          <!-- <ion-icon *ngIf="friendPicture" class="profile-image icon-size" name="contact"></ion-icon>
            <ion-icon *ngIf="myPicture" name="add"></ion-icon> -->
          <div *ngIf="myPicture" class="profile-image" [style.backgroundImage]="getProfileImageStyle()"></div>
          <ion-icon *ngIf="friendPicture" class="profile-image icon-size" name="contact"></ion-icon>
        </div>
      </div>

    </form>
    <br />
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="headerText number">{{xlevel}}</p>
          <br/>
          <p class="headerText">Level</p>
        </ion-col>
        <ion-col>
          <p class="headerText number" on-click="goToCompeting();">{{competing}}</p>
          <br/>
          <p class="headerText">Following</p>
        </ion-col>
        <ion-col>
          <p class="headerText number" on-click="goToCompetitors();">{{competitors}}</p>
          <br/>
          <p class="headerText">Followers</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

      <ion-slides style="height: 100px">
          <ion-slide>
            <ion-item>
              <circle-progress item-start style="margin-left: 20%" [percent]="progress" [radius]="25" [outerStrokeWidth]="6" [innerStrokeWidth]="4" [outerStrokeColor]="'#9C000A'"
                [innerStrokeColor]="'#C60000'" [animation]="true" [animationDuration]="300" [showTitle]="false" [showSubtitle]="false"
                [showUnits]="false"></circle-progress>
              <ion-label style="margin-left: 0%">{{xcurrent}} out of {{xtotal}}</ion-label>
            </ion-item>
          </ion-slide>
          <ion-slide>
            <ion-item>
              <ion-img item-start class="badge-icon" item-start style="margin-left: 100%"></ion-img>
              <ion-label class="slider-text" style="margin-left: 25%">Latest Exercise: {{latestExercise.exerciseName}} </ion-label>
            </ion-item>
          </ion-slide>
        </ion-slides>

  <ion-item-divider no-lines sticky>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="stats">
        Stats
      </ion-segment-button>
      <ion-segment-button value="about">
        About
      </ion-segment-button>
    </ion-segment>
  </ion-item-divider>

  <div *ngIf='segment === "stats"'>
    <ion-list>
      <!-- Item with a label and content -->
      <ion-item on-click="goToGains();">
        <ion-label>
          Total Gains
        </ion-label>
        <div item-content>
          {{gains}}
        </div>
      </ion-item>
      <ion-item on-click="goToRecords();">
        <ion-label>
          Exercises
        </ion-label>
        <div item-content>
          {{exercisesLength}}
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf='segment == "about"'>
    <ion-list>
      <!-- Item with a label and content -->
      <ion-item>
        <ion-label>
          Height
        </ion-label>
        <div item-content>
          {{height}} F
        </div>
      </ion-item>
      <ion-item>
        <ion-label>
          Weight
        </ion-label>
        <div item-content>
          {{weight}}lbs
        </div>
      </ion-item>
      <ion-item>
        <ion-label>
          Gym
        </ion-label>
        <div item-content>
          {{gym}}
        </div>
      </ion-item>
      <ion-item>
        <ion-label>
          Location
        </ion-label>
        <div item-content>
          {{location}}
        </div>
      </ion-item>
    </ion-list>
  </div>
  <br />
</ion-content>