<div class="container">
    	<div class="levels">
    		<h2>LEVEL <span class="sick"> {{xlevel}}</span> : <span class="sick">{{xcurrent}}</span> / <span class="sick">{{xtotal}}</span> GAINS</h2>
    	</div>
    	<div id="myProgress">
			<div id="myBar" [ngStyle]="{'width.%' : progress}"></div>
		</div>
		<div class="breaker"></div>
		<br />
		<div class="container fields">
    	<div class="setbet">
          <ion-item class="no-padding">
            <ion-label floating>Weight</ion-label>
            <ion-input [(ngModel)]="weight" type="number"></ion-input>
		  </ion-item>
		  
		  <ion-item class="no-padding">
            <ion-label floating>Reps</ion-label>
            <ion-input [(ngModel)]="reps" type="number"></ion-input>
		  </ion-item>
		  
		  <br>

		  <button ion-button icon-only (click)="addSet()" type="submit" id="add">
	        <ion-icon name="add"></ion-icon>
		  </button>

    	<br>
    	</div>
    	<br>
    	<br>
    	<div *ngIf="bool" class="animation">
    		<h1>NEW RECORD!</h1>
    	</div>
        <div *ngIf="points" class="points">
            <h1>+ {{g}} gains!</h1>
		</div>
	</div>
</div>
