new-set {
	.setbet {
  	text-align: center;
  }

  .setbet input {
  	color: black;
	}
	
	.fields{
		padding-right:5%;
		padding-left:5%;
	}

  .levels {
  	text-align: center;
  }

  .sick {
  	color: #9C000A;
  }

  #myProgress {
	  width: 100%;
	  background-color: #ddd;
	  border: 1px solid black;
	}

	#myBar {
		width: 20%;
		background-color: #9C000A;
		border: 1px solid black;
		height: 15px;
	}

	.breaker {
	  color: white;
	  border : 1px solid white;
	  margin-bottom : 10px;
	  margin-top: 5px;
	}

  .animation {
    text-align: center;
    animation: bounceInUp 1s;
  }

  .points {
    text-align: center;
  }

	.text-input::-moz-placeholder {
		color: white;
	}
	
	.text-input:-ms-input-placeholder {
		color: white;
	}
	
	.text-input::-webkit-input-placeholder {
		color: white;
	}

	.set-fields{
		color: white;
	}
}
