page-gains {
	table {
    margin-left:auto; 
    margin-right:auto;
    border-collapse: separate;
  }

  table th {
    font-size: 35px;
    padding-top: 30px;
  }

  table td {
    font-size: 25px;
    width: 150px;
  }

  .stats {
    text-align: center;
  }
}
