page-home {



.img-button{
    background-image: url(../assets/img/competewithfriendsslide.jpeg); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}

.img-button-legs{
    background-image: url(../assets/img/squat_red.PNG); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}

.img-button-back{
    background-image: url(../assets/img/back_red.PNG); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}
.img-button-arms{
    background-image: url(../assets/img/arms_red.PNG); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}

.img-button-abs{
    background-image: url(../assets/img/abs_red.PNG); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}

.img-button-yoga{
    background-image: url(../assets/img/yoga_red.jpg); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}

.img-button-chest{
    background-image: url(../assets/img/bp_red.PNG); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}

.img-button-shoulder{
    background-image: url(../assets/img/shoulder_red.jpg); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}

.img-button-cardio{
    background-image: url(../assets/img/cardio_red.jpg); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}
}