page-home {



.img-button{
    background-image: url(../assets/img/competewithfriendsslide.jpeg); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}

.img-button-legs{
    background-image: url(../assets/img/exercise_tiles/squat_tile.PNG); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}

.img-button-back{
    background-image: url(../assets/img/exercise_tiles/back_tile.PNG); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}
.img-button-arms{
    background-image: url(../assets/img/exercise_tiles/arms_tile.PNG); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}

.img-button-abs{
    background-image: url(../assets/img/exercise_tiles/abs_tile.PNG); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}

.img-button-yoga{
    background-image: url(../assets/img/exercise_tiles/yoga_tile.jpg); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}

.img-button-chest{
    background-image: url(../assets/img/exercise_tiles/chest_tile.PNG); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}

.img-button-shoulder{
    background-image: url(../assets/img/exercise_tiles/shoulder_tile.jpg); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}

.img-button-cardio{
    background-image: url(../assets/img/exercise_tiles/cardio_tile.jpg); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}
}