page-home {

}

.img-button{
    background-image: url(../assets/img/competewithfriendsslide.jpeg); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}