page-workout-create {
	#refresh{
		margin-top: 100px;
		background-color: red;
		font-size: 30px;
		color: white;
		border-radius: 10px;
	}

	#reCont{
		text-align: center;
	}

	.item-list{
		padding-left: 0px;
	}

	.item-text{
		padding-left: 16px;
	}

	.q1, .q2, .q3, .q4 {
		border: 4px solid #fff;
	}
	.swiper-slide {
		display: block;
	}
	
	.matrix {
		margin-top: 30px;
	
		ion-col {
			--ion-grid-column-padding: 0px;
			min-height: 150px;
		}
	
		.list {
			padding: 0px;
			height: 100%;
		}
	
		ion-item {
			margin-bottom: 2px;
		}
	}
	
	.q-header {
		background-color: var(--ion-color-light);
		height: 20px;
		text-align: center;
	}
}
