page-my-gym {

.img-button{
    background-image: url(../assets/img/competewithfriendsslide.jpeg); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}

.img-button-medals{
    background-image: url(../assets/img/exercise_tiles/squat_tile.PNG); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}

.img-button-workouts{
    background-image: url(../assets/img/exercise_tiles/back_tile.PNG); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
    height:150px;
}

}
