records {
	.rectable {
		text-align: center;
	}

	.rectable td {
		color: black;
		width: 150px;
		height: 25px;
	}

	.rectable th td {

	}

	.red {
		background-color: LightCoral;
	}

	.green {
		background-color: LightGreen;
	}
}
