<div>
  <bar-chart [liftingRecords]="liftingRecords"></bar-chart>
  <ion-item no-lines>
    <div class="rectable" *ngIf="liftingBool">
      <table>
        <tr>
          <th>Reps</th>
          <th>Weight</th>
          <th>1RM</th>
          <th>Records</th>
        </tr>
      </table>
      <ion-scroll scrollY="true" class="scroll">
        <table>
          <tr *ngFor="let x of liftingRecords" [ngClass]="{red: x.records == 1, green: x.records > 1 && x.records < 5, silver: x.records > 4 && x.records < 10, gold: x.records > 9 }">
            <td class="bold">{{x.reps}}</td>
            <td>{{x.weight}}</td>
            <td>{{x.oneRepMax}}</td>
            <td>{{x.records}}</td>
          </tr>
        </table>
      </ion-scroll>
    </div>
    <div class="rectable" *ngIf="cardioBool">
        <ion-scroll scrollY="true" class="scroll">
          <table>
            <tr>
              <th>Range</th>
              <th>Minutes</th>
              <th>Miles</th>
              <th>MPH</th>
              <th width="10px">Records</th>
            </tr>
            <tr *ngFor="let x of cardioRecords" [ngClass]="{red: x.records == 1, green: x.records > 1 && x.records < 5, silver: x.records > 4 && x.records < 10, gold: x.records > 9 }">
              <td class="bold">{{x.range}}</td>
              <td>{{x.minutes}}</td>
              <td>{{x.miles}}</td>
              <td>{{x.mph}}</td>
              <td>{{x.records}}</td>
            </tr>
          </table>
        </ion-scroll>
      </div>
  </ion-item>
</div>
