records {
	.rectable {
		text-align: center;
	}

	.rectable td {
		color: black;
		width: 200px;
		height: 20px;
	}

	.rectable th {
		width: 200px;
	}


	.red {
		background-color: LightCoral;
	}

	.green {
		background-color: LightGreen;
	}

	.gold {
		background-color: gold;
	}

	.silver {
		background-color: silver;
	}
	.scroll {
		height: 260px;
	}
}
