  
  <ion-content no-bounce fullscreen>

    <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
        <ion-slide class="dumbbells">
            <ion-header no-shadow no-border transparent class="tutorial-header">
                <ion-navbar>
                  <ion-buttons end *ngIf="showSkip">
                    <button ion-button (click)="startApp()" color="primary">{{ 'TUTORIAL_SKIP_BUTTON' | translate}}</button>
                  </ion-buttons>
                </ion-navbar>
              </ion-header>
              <h1 class="slide-header">Track any exercise</h1>
              <h3>Monitor your progress overtime, no matter how you exercise!</h3>
          </ion-slide>
      
          <ion-slide class="gain">
              <ion-header no-shadow no-border transparent class="tutorial-header">
                  <ion-navbar>
                    <ion-buttons end *ngIf="showSkip">
                      <button ion-button (click)="startApp()" color="primary">{{ 'TUTORIAL_SKIP_BUTTON' | translate}}</button>
                    </ion-buttons>
                  </ion-navbar>
                </ion-header>
            <h1 class="slide-header">Earn points to level up!</h1>
            <h3>Gain points for each exercise and new personal records </h3>
          </ion-slide>
      
          <ion-slide class="compete">
              <ion-header no-shadow no-border transparent class="tutorial-header">
                  <ion-navbar>
                    <ion-buttons end *ngIf="showSkip">
                      <button ion-button (click)="startApp()" color="primary">{{ 'TUTORIAL_SKIP_BUTTON' | translate}}</button>
                    </ion-buttons>
                  </ion-navbar>
                </ion-header>
            <h1 class="slide-header">Compete with Friends</h1>
            <h3>Add friends to your leaderboard to compete</h3>
          </ion-slide>
      

      <ion-slide>
        <img src="assets/img/flex_biceps1600.png" class="slide-image" />
        <h2 class="slide-title">{{ 'TUTORIAL_SLIDE4_TITLE' | translate }}</h2>
        <button ion-button icon-end large clear (click)="startApp()">
          {{ 'TUTORIAL_CONTINUE_BUTTON' | translate }}
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-slide>
    </ion-slides>
  </ion-content>
