page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .tutorial-header{
      border: 0px !important;

      border-bottom: none !important;
  }

  .compete{
    background-image: url(../assets/img/competewithfriends.jpeg); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
  }

  .gain{
      background-image: url(../assets/img/slidebarbell.jpeg); 
      background-repeat:no-repeat; background-size: cover; 
      background-position: center;
  }

  .dumbbells{
    background-image: url(../assets/img/dumbells.jpeg); 
    background-repeat:no-repeat; background-size: cover; 
    background-position: center;
}

  .slide-zoom {
    height: 100%;
  }

  .slide-header{
    margin-top:50%;
    font-size: 4rem;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 36px 0;
  }

  .swiper-pagination-bullet-active {
    background: red !important;
  }

  .swiper-pagination-bullet {
    background: white;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;

    b {
      color: #000000;
    }
  }


}
