<ion-content no-bounce fullscreen>
  <ion-slides #slides class="tutorial-slides" pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">

    <ion-slide class="dumbbells">
      <ion-header no-shadow no-border transparent class="tutorial-header">
        <ion-navbar>
          <ion-buttons end *ngIf="showSkip">
            <button ion-button (click)="startApp()" color="white">Sign In</button>
          </ion-buttons>
        </ion-navbar>
      </ion-header>
      <h1 class="slide-header">Track any exercise</h1>
      <h3>Monitor your progress overtime, no matter how you exercise!</h3>
      <ion-footer class="slide-footer">
        <ion-grid>
          <ion-row>
            <ion-col>
              <button ion-button block class="next-button" (click)="next()">Next</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ion-slide>

    <ion-slide class="gain">
      <ion-header no-shadow no-border transparent class="tutorial-header">
        <ion-navbar>
          <ion-buttons end *ngIf="showSkip">
            <button ion-button (click)="startApp()" color="white">Sign In</button>
          </ion-buttons>
        </ion-navbar>
      </ion-header>
      <h1 class="slide-header">Earn points to level up!</h1>
      <h3>Gain points for each exercise and new personal records </h3>
      <ion-footer class="slide-footer">
        <ion-grid>
          <ion-row>
            <ion-col>
              <button ion-button block class="next-button" (click)="next()">Next</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ion-slide>

    <ion-slide class="compete">
      <ion-header no-shadow no-border transparent class="tutorial-header">
        <ion-navbar>
          <ion-buttons end *ngIf="showSkip">
            <button ion-button (click)="startApp()" color="white">Sign In</button>
          </ion-buttons>
        </ion-navbar>
      </ion-header>
      <h1 class="slide-header">Compete with Friends</h1>
      <h3>Add friends to your leaderboard to compete</h3>
      <ion-footer class="slide-footer">
        <ion-grid>
          <ion-row>
            <ion-col>
              <button ion-button block class="next-button" (click)="startApp()">Let's Get Started</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ion-slide>
  </ion-slides>
</ion-content>