<ion-content scroll="false" class="welcome">
  <ion-grid>
    <ion-header>
      <ion-row>
        <ion-col class="header" text-center>
          Drive Fitness
        </ion-col>
      </ion-row>
    </ion-header>
    <form (submit)="setUser();">
      <ion-row>
        <ion-col>
          <ion-item class="transparent-field middle-item no-padding">
            <ion-label>
              <ion-icon name="mail"></ion-icon>
            </ion-label>
            <ion-input placeholder="Email" [(ngModel)]="account.email" name="email" clearInput type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="transparent-field no-padding">
            <ion-label>
              <ion-icon name="lock"></ion-icon>
            </ion-label>
            <ion-input placeholder="Password" [(ngModel)]="account.password" name="password" clearInput type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="transparent-field no-padding">
            <ion-label>Keep me logged in</ion-label>
            <ion-checkbox (ionChange)="stayLogged()"></ion-checkbox>>
          </ion-item>
        </ion-col>
      </ion-row>
      </form>
      <ion-row>
        <ion-col>
          <button [disabled]="buttonPressed" id="login" class="login-button" ion-button block (click)="login()"><ion-spinner *ngIf="buttonPressed" class="spinner-energized"></ion-spinner> <span  *ngIf="!buttonPressed">Sign In</span></button>
        </ion-col>
      </ion-row>
      <ion-footer>
        <ion-row>
          <ion-col text-center>
            <button class="sign-up-button" ion-button class="astext" (click)="signup()">Don't have an account? Sign up!</button>
          </ion-col>
        </ion-row>
      </ion-footer>
  </ion-grid>
</ion-content>