

<ion-content>
  <div padding>
      <ion-searchbar
        [(ngModel)]="searchTerm"
        [formControl]="searchControl"
        (ionInput)="onSearchInput()"
        (keyup.enter)="search()">
      </ion-searchbar>
      <ion-segment [(ngModel)]="segment">
        <ion-segment-button  value="discover_people">
          People
        </ion-segment-button>
        <ion-segment-button value="discover_excercises">
          Excercises
        </ion-segment-button>
      </ion-segment>
      <div *ngIf="searching" class="spinner-container">
          <ion-spinner></ion-spinner>
      </div>
    </div>


  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'discover_people'">
    
      <ion-list>
        <ion-item *ngFor="let user of currentItems">
            <button no-lines ion-item (click)="openItem(user)">
          <ion-avatar item-start>
            <img *ngIf="user.profilePic != 'data:image/jpeg;base64,NahNigga'" [src]="user.profilePic" />
            <ion-icon *ngIf="user.profilePic == 'data:image/jpeg;base64,NahNigga'" class="default-img" name="contact"></ion-icon>
          </ion-avatar>

          <h2>{{user.username}}</h2>
            </button>
            <button class="list-button" ion-button icon-only item-end (click)="addToLeaderboard(user)">
              <ion-icon name="add"></ion-icon>
            </button>
        </ion-item>
      </ion-list>
      <!--
      <table>
        <tr>
          <td></td>
          <td>Player</td>
          <td>Gains</td>
          <td></td>
        </tr>
        <tr *ngFor="let player of likelyFriends | sortByGains" [ngClass]="{red: player.name == username}">
          <td>
            <ion-item no-lines>
              <ion-avatar>
                <img *ngIf="player.profilePic != null" [src]="player.profilePic" />
                <ion-icon class="default-img" *ngIf="player.profilePic == null" name="contact"></ion-icon>
              </ion-avatar>
            </ion-item>
          </td>
          <td>{{player.name}}</td>
          <td>{{player.gains}}</td>

          <td>
            <button ion-button icon-only (click)="addToLeaderboard(player)">
              <ion-icon name="add"></ion-icon>
            </button>
          </td>
        </tr>
      </table>
      -->
    </ion-list>
    <ion-list *ngSwitchCase="'discover_excercises'">
      <ion-list>
        <ion-item *ngFor="let item of currentExercises">
          <h2>
              {{item.exerciseName}}
          </h2>
          <p style="margin-top: 2%;"> Variation: {{item.variation}}</p>
          <div  style="margin-top: 2%; border:1px; border-style:solid; border-color:#D12B2B; padding: .1em; display: inline-block;"> {{item.MuscleGroup.muscleGroupName}}</div>
          <button class="list-button" ion-button item-end icon-only (click)="addToExercises(item)">
            <ion-icon name="add"></ion-icon>
          </button>
         
        </ion-item>
      </ion-list>
    </ion-list>
    <h3 *ngIf="show" id="loading">Loading</h3>
  </div>
</ion-content>