page-leaderboard {
	font-size: 20px;

	.timespan {
		text-align: center;
	}

	ion-select {
		margin-left:auto; 
	    margin-right:auto;
	}

	table {
		margin-left:auto; 
	    margin-right:auto;
	    border-collapse: separate;
	    border-spacing: 0px 0;
	}

	table td {
		padding: 5px;
	}

	.item-cover {
		width: 0;
		height: 0;
	}

	.remove {
		background-color: #aa1414;
	}

	.item-inner {
	   padding: 0px!important;
	}

	.red {
		color: #aa1414;
	}

	.gains{
		float: right;
	}

	#loading {
		text-align: center;
	}

	.default-img{
	font-size: 2.6em;
	}

	.no-margin{
		margin: 0px 0px 0px;
	}

	.gains-title{
		margin-right: 16px;
	}

	.username-title{
		margin-left: 16px;
	}

	.header-item{
			min-height: 3rem; /* <- this can be whatever you need */
		
	}

	.img-button-chest{
		background-image: url(../assets/img/competewithfriendsslide.jpeg); 
		background-repeat:no-repeat; background-size: cover; 
		background-position: center;
		height:150px;
		width:100%
	}
	.font-white{
		color:white;
		font-size: 2rem;
	}
}
