page-leaderboard {
	font-size: 20px;

	.timespan {
		text-align: center;
	}

	ion-select {
		margin-left:auto; 
	    margin-right:auto;
	}

	table {
		margin-left:auto; 
	    margin-right:auto;
	    border-collapse: separate;
	    border-spacing: 0px 0;
	}

	table td {
		padding: 5px;
	}

	.item-cover {
		width: 0;
		height: 0;
	}

	.remove {
		background-color: red;
	}

	.item-inner {
	   padding: 0px!important;
	}

	.red {
		color: red;
	}

	.gains{
		float: right;
	}

	#loading {
		text-align: center;
	}

	.default-img{
	font-size: 2.6em;
	}
}
