cardio-history {
	
	body {
		cursor: auto;
	}
	.scrollingtable {
		text-align: center;
	}

	table {
		margin-left:auto; 
    	margin-right:auto;
    	border-collapse: separate;
	}

	.scrollingtable td {
		width: 200px;
	}

	.scrollingtable th {
		width: 200px;
	}

	.remove {
		background-color: #9C000A;
		color: white;
	}

	.scroll {
		height: 260px;
	}

	#headers {
		margin-bottom: 10px;
	}
	
}
