<div>
  <ion-item >
    <div class="scrollingtable">
      <table id="headers">
        <tr>
          <th>Date</th>
          <th>Miles</th>
          <th>Time</th>
          <th>MPH</th>
          <th>Delete</th>
        </tr>
      </table>
      <ion-scroll scrollY="true" class="scroll">
        <table>
          <tr *ngFor="let x of liftingHistory">
            <td>{{x.date | date: 'MM/dd'}}</td>
            <td>{{x.miles}}</td>
            <td>{{x.time}}</td>
            <td>{{x.mph.toFixed(1)}}</td>
            <td>
              <input type="button" value="X" class="remove" (click)="presentConfirm(x)">
            </td>
          </tr>
        </table>
      </ion-scroll>
    </div>
  </ion-item>
</div>
