page-custom-records {
	.addRec {
		font-size: 20px;
		margin-left:auto; 
	  margin-right:auto;
	}

	.recText {
		width: 100px;
		margin-left: 20px;
		margin-right: 20px;
		color: black;

	}

	#add {
  	border-radius: 50%;
  	font-size: 30px;
  	font-style: bold;
  	width: 40px;
  }

  .bigRec {
  	text-align: center;
  }

  .remove {
		background-color: red;
	}

	table {
		margin-left:auto; 
	  margin-right:auto;
	  border-spacing: 20px;
	}

	table th{
		font-size: 30px;
		padding-right: 30px;
	}

	table td{
		font-size: 30px;
		padding-left: 30px;
		text-align: center;
	}

}
