<ion-header>

  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-searchbar (ionInput)="getItems($event)" placeholder="search usernames to compete with friends"></ion-searchbar>
  <ion-list>
    <ion-item no-lines *ngFor="let item of currentItems">
      
      <ion-avatar item-start>
            <img *ngIf="item.profilePic != null" [src]="item.profilePic" />
            <ion-icon *ngIf="item.profilePic == null" class="default-img" name="contact"></ion-icon>
      </ion-avatar>
      
	    <h2>{{item.name}}
	    	<button ion-button icon-only (click)="addToLeaderboard(item)">
	        <ion-icon name="add"></ion-icon>
	      </button>
	    </h2>
	      
      <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
    </ion-item>
  </ion-list>
  <h3 *ngIf="show" id="loading">Loading</h3>
</ion-content>
