new-cardio {
	.setbet {
  	text-align: center;
  }

  .setbet input {
  	color: white;
  }
  .levels {
  	text-align: center;
  }

  .sick {
  	color: #9C000A;
  }

  #myProgress {
	  width: 100%;
	  background-color: #ddd;
	  border: 1px solid black;
	}

	#myBar {
		width: 20%;
		background-color: #9C000A;
		border: 1px solid black;
		height: 15px;
	}

	.breaker {
	  color: white;
	  border : 1px solid white;
	  margin-bottom : 10px;
	  margin-top: 5px;
	}

  .animation {
    text-align: center;
    animation: bounceInUp 1s;
  }

  .points {
    text-align: center;
  }
}
