<div>
  <ion-item no-lines>
    	<div class="levels">
    		<h2>LEVEL <span class="sick"> {{xlevel}}</span> : <span class="sick">{{xcurrent}}</span> / <span class="sick">{{xtotal}}</span> GAINS</h2>
    	</div>
    	<div id="myProgress">
			<div id="myBar" [ngStyle]="{'width.%' : progress}"></div>
		</div>
		<div class="breaker"></div>
    	<div class="setbet">
    		<h2>Miles: <input [(ngModel)]="miles" type="number" value="2.5"></h2>
    		<br>
    		<h2>Hours: <input [(ngModel)]="hours" type="number" value="0"></h2>
    		
    		<h2>Minutes: <input [(ngModel)]="minutes" type="number" value="30"></h2>
    		
    		<h2>Seconds: <input [(ngModel)]="seconds" type="number" value="0"></h2>
    		<br>
    		<h2><input (click)="addSet()" type="submit" id="add" value="+"></h2>
    		<br>
    	</div>
    	<br>
    	<br>
    	<div *ngIf="bool" class="animation">
    		<h1>NEW RECORD!</h1>
    	</div>
    </ion-item>
</div>
