<!--
  Generated template for the MedalsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Medals</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h1 style="text-align: center;">Total exercises:</h1>
<h1 style="text-align: center;">{{this.medal1}}</h1>
<div *ngIf="this.medal1 > 20">
	<img src="assets/img/medals/medal1.png"/>
</div>
<div *ngIf="this.medal1 > 30">
	<img src="assets/img/medals/medal2.png"/>
</div>
<div *ngIf="this.medal1 > 40">
	<img src="assets/img/medals/medal3.png"/>
</div>
</ion-content>
