<!-- Generated template for the HistoryComponent component -->
<div>
  <ion-item>
    <div class="scrollingtable">
    	<table>
    		<tr>
    			<th>Date</th>
    			<th>Weight</th>
    			<th>Reps</th>
    			<th>1RM</th>
    			<th></th>
    		</tr>
    		<tr *ngFor="let x of history">
			<td>{{x.date}}</td>
			<td>{{x.weight}}</td>
			<td>{{x.reps}}</td>
			<td>{{x.oneRM}}</td>
			<td>
				<input type="button" value="X" class="remove">
			</td>
		</tr>
    	</table>
    	<h1 id="oneRM">Average One Rep Max: 225</h1>
    </div>
  </ion-item>
</div>
