<div>
  <ion-item >
    <div class="scrollingtable" *ngIf="liftingBool">
      <table class="table table-bordered" id="headers">
        <tr>
          <th>Date</th>
          <th>Set</th>
          <th>Weight</th>
          <th>Reps</th>
          <th>1RM</th>
          <th>Delete</th>
        </tr>
      </table>
      <ion-scroll scrollY="true" class="scroll">
        <table>
          <tr *ngFor="let x of liftingHistory">
            <td>{{x.date | date: 'MM/dd/yyyy'}}</td>
            <td>{{x.set}}</td>
            <td>{{x.weight}}</td>
            <td>{{x.reps}}</td>
            <td>{{x.oneRepMax}}</td>
            <td>
              <input type="button" value="X" class="remove" (click)="presentConfirmLifting(x)">
            </td>
          </tr>
        </table>
      </ion-scroll>
    </div>
    <div class="scrollingtable" *ngIf="cardioBool">
        <table id="headers">
          <tr>
            <th>Date</th>
            <th>Miles</th>
            <th>Time</th>
            <th>MPH</th>
            <th>Delete</th>
          </tr>
        </table>
        <ion-scroll scrollY="true" class="scroll">
          <table>
            <tr *ngFor="let x of cardioHistory">
              <td>{{x.date | date: 'MM/dd/yyyy'}}</td>
              <td>{{x.miles}}</td>
              <td>{{x.minutes | cardioTimeConvert}}</td>
              <td>{{x.mph.toFixed(1)}}</td>
              <td>
                <input type="button" value="X" class="remove" (click)="presentConfirmCardio(x)">
              </td>
            </tr>
          </table>
        </ion-scroll>
      </div>

      <div class="scrollingtable" *ngIf="bodyLiftBool">
        <table id="headers">
          <tr>
            <th>Date</th>
            <th>Set</th>
            <th>Reps</th>
            <th>Delete</th>
          </tr>
        </table>
        <ion-scroll scrollY="true" class="scroll">
          <table>
            <tr *ngFor="let x of bodyLiftHistory">
              <td>{{x.History.date | date: 'MM/dd/yyyy'}}</td>
              <td>{{x.set}}
              <td>{{x.reps}}</td>
              <td>
                <input type="button" value="X" class="remove" (click)="presentConfirmBodyLift(x)">
              </td>
            </tr>
          </table>
        </ion-scroll>
      </div>

      <div class="scrollingtable" *ngIf="flexBool">
        <table id="headers">
          <tr>
            <th>Date</th>
            <th>Minutes</th>
            <th>Delete</th>
          </tr>
        </table>
        <ion-scroll scrollY="true" class="scroll">
          <table>
            <tr *ngFor="let x of flexHistory">
              <td>{{x.History.date | date: 'MM/dd/yyyy'}}</td>
              <td>{{x.minutes}}</td>
              <td>
                <input type="button" value="X" class="remove" (click)="presentConfirmFlex(x)">
              </td>
            </tr>
          </table>
        </ion-scroll>
      </div>
      

  </ion-item>
</div>