page-signup {
	button {
		font-size: 40px;
	}

	h3 {
		text-align: center;
	}

	.checkbox-ios .checkbox-icon{
		background-color: transparent;
	}

	.bottom-border{
		border-bottom: 0.55px solid #c8c7cc
	}

	ion-button::placeholder{
		color: white;
	}

	ion-header::after {
		background-image: none;
		height: 0px;
		}
	
		.astext {
		  background:none;
		  border:none;
		  margin:0;
		  padding:0;
	  }
	.terms-of-use{
		color: white;
		font-size: 1rem;
	}
	  .button-ios.activated{
		background:none;
		border:none;
		margin:0;
		padding:0;
	  }
	  .welcome{
		background-image: url(../assets/img/loginbackground.jpeg); 
		background-repeat:no-repeat; background-size: cover; 
		background-position: center;
	  }
	
	  .login-button:disabled{
		opacity: 1;
	  }
	
	  .header{
		font-size: 4rem;
		margin-top: 10%;
	  }
	
	  .transparent-field{
		background-color: transparent;            
	  }
	
	  .middle-item{
		margin-top: 50%;
	  }

	  .text-input::-moz-placeholder {
		color: white;
	  }
	  
	  .text-input:-ms-input-placeholder {
		color: white;
	  }
	  
	  .text-input::-webkit-input-placeholder {
		color: white;
	  }
	
	.no-bottom-padding{
		padding-bottom: 0;
	}
	.no-top-padding{
		padding-top: 0;
	}
}
